body {
  background-color: rgb(34, 34, 34);
  user-select: none;
  font-family: "Jost", Arial, san-serif;
  height: 100vh;
  color: white;
  position: relative;
  }

.shopName {
  font-size: 60px;
  text-align: center;
  font-family: "Jost";
  font-weight: 600;
  color: white;
  }

.back {
  position: absolute;
  left: 5%;
  top: 2.5%;
  width: 50px;
  height: 50px;
  font-family: "Jost";
  font-size: 40px;
  border-radius: 5px;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0);
  line-height: 0px;
  color: white;
  cursor: pointer;
}

.back span {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 56%;
}

.skinsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  right: 0%;
  left: 0%;
  justify-items: center;
}

.skinsDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  height: 500px;
  width: 400px;
  align-items: center;
  padding: 7px;
}

.skinsDiv button:hover {
  scale: 0.95;
}

.skinsDiv img {
  width: 250px;
  height: 250px;
  filter: 
  drop-shadow(2px 2px 0px white)
  drop-shadow(-2px -2px 0px white)
  drop-shadow(-2px 2px 0px white)
  drop-shadow(2px -2px 0px white);
  -webkit-user-drag: none;
}

.skinsDiv p {
  font-size: 60px;
  margin: 0px;
  line-height: 75px;
}

.skinsDiv button {
  width: 350px;
  height: 60px;
  font-family: "Jost";
  font-size: 40px;
  border-radius: 5px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}